$tunes_font_size: dynamic(8pt);
$tunes_color: dynamic(#777777);
$tunes_padding: dynamic(2px 8px 8px 8px);
$tunes_background: dynamic(#FFFFFF);
$tunes_border_color: dynamic(#B5D5F0);
$tunes_border_width: dynamic(6px);
$tunes_height: dynamic(160px);
$tunes_width: dynamic(160px);
$tunes_margin: dynamic(14px);
$tunes_animation_zoom: dynamic(1.1);
$tunes_animation_duration: dynamic(1s);
$tunes_animation_border: dynamic(6px solid #B5D5F0);